<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/log.css">
    <style>   
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <form method="post" action="/signup">
        <input type="text" name = "name" placeholder="enter your name">
        <input type="password"  name = "password" placeholder="enter your password">
        <button type="submit">submit</button>
    </form>
    <h4>if you are already an existing user<a href="login.ejs">click here</a></h4>
</body>
</html>